@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:#000;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
}
a ion-icon{
    position: absolute;
    top:10px;
    left:10px;
    font-size:4em;
    color:#555;
    transition: 0.5s ease all;
}
a ion-icon:hover{
    color:#000;
}