@import url(../../../css/reset.css);
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    flex-direction: column;
}
.tabmenu{
    margin-bottom:5px;
}
.tab_content{
    display: none;
}
.tab_content.current{
    display: flex;
}
.tab_link{
    display: inline-block;
    background-color: white;
    color:#aaa;
    padding:10px 20px;
    cursor: pointer;
    border:1px solid #aaa;
    transition:0.5s ease all;
}
.tab_link:hover{
    color:#f68500;
}
.tab_link.current{
    color:#f68500;
    border-bottom:3px solid #f68500;
}
section > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:750px;
    height:750px;
    border:1px solid #000;
}
section > div > span{
    display: block;
    width:250px;
    height:250px;
}
section > div > span:nth-child(1){
    background-color: #f55;
}
section > div > span:nth-child(2){
    background-color: #5f5;
}
section > div > span:nth-child(3){
    background-color: #55f;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}