@import url(../../../css/reset.css);
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    flex-direction: column;
}
.tabmenu{
    margin-bottom:5px;
}
.tab_content{
    display: none;
}
.tab_content.current{
    display: flex;
}
.tab_link{
    display: inline-block;
    background-color: white;
    color:#aaa;
    padding:10px 20px;
    cursor: pointer;
    border:1px solid #aaa;
    transition:0.5s ease all;
}
.tab_link:hover{
    color:#f68500;
}
.tab_link.current{
    color:#f68500;
    border-bottom:3px solid #f68500;
}
section > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:150px;
    height:850px;
    border:1px solid #000;
}
section > div > span{
    display: block;
    width:150px;
    height:150px;
}
section > div > span:nth-child(1){
    background-color: #f55;
}
section > div > span:nth-child(2){
    background-color: #5f5;
}
section > div > span:nth-child(3){
    background-color: #55f;
}
.flex-start{
    align-content:flex-start;
}
.flex-end{
    align-content: flex-end;
}
.center{
    align-content: center;
}
.space-between{
    align-content: space-between;
}
.space-around{
    align-content: space-around;
}
.space-evenly{
    align-content: space-evenly;
}